{% extends "base.html" %}

{% block title %}{{ blog.title }} - Simple Blog{% endblock %}

{% block content %}
<div class="container">
    <article class="blog-post">
        <header class="blog-header">
            <h1 class="blog-title">{{ blog.title }}</h1>
            {% if blog.author %}
                <div class="blog-author">
                    <i class="fas fa-user"></i> By {{ blog.author }}
                </div>
            {% endif %}
            <div class="blog-meta">
                <i class="fas fa-calendar"></i>
                <time>Published on {{ blog.created_at.strftime('%B %d, %Y at %I:%M %p') }}</time>
                {% if blog.updated_at != blog.created_at %}
                    <span class="updated">
                        <i class="fas fa-edit"></i>
                        Updated {{ blog.updated_at.strftime('%B %d, %Y at %I:%M %p') }}
                    </span>
                {% endif %}
            </div>
        </header>

        <div class="blog-content">
            {{ blog.content|safe }}
        </div>

        <footer class="blog-footer">
            <a href="{{ url_for('index') }}" class="back-link">
                <i class="fas fa-arrow-left"></i> Back to Home
            </a>
        </footer>
    </article>
</div>
{% endblock %}
